@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-app-region: drag;
  user-select: none;
}

button,
a,
input,
.no-drag {
  -webkit-app-region: no-drag;
}
